body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/background-aluraflix.png");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  color: #ffffff;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

body > img {
  margin: 0 10px;
}

img {
  max-height: 250px;
}
.content {
  display: flex;
  flex-flow: column;
  margin: 10px auto;
  width: 500px;
  gap: 1rem;
}
.content label {
  font-size: large;
}
.content input {
  height: 30px;
  font-size: large;
}
.content button {
  height: 30px;
  background-color: rgb(43, 102, 190);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.content button:hover {
  background-color: blue;
}
